{% extends 'base.html.twig' %}

{% block body %}
<div class="product-wrapper">
    <h1>Liste des produits</h1>

    <ul>
    {% for product in products %}
        <li>
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <img src="{{ product.photo }}" alt="{{ product.name }}">
            <p>{{ product.price }}</p>
            <p>{{ product.stockQuantity }}</p>
            <p>{{ product.createdAt|date('Y-m-d H:i') }}</p>
            <p>{{ product.categorie.nom }}</p>
            <p>{{ product.id }}</p>
        </li>
    {% else %}
        <li>Aucun produit trouvé.</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}